<!-- Employment Box -->
<div class="five columns alpha">
    <div class="resume-history">
        <h3 class="secondary-heading">Employment</h3>
        <ul class="history-list clearfix">
            <li class="item four columns offset-by-one alpha" ng-repeat="job in ctrl.jobs track by $index">
                <i class="indicator"></i>
                <div class="main-info clearfix">
                    <h5 class="tertiary-heading title">{{job.officeName}}</h5>
                    <h6 class="meta-info alighleft">{{job.jobPosition}}</h6>
                    <h6 class="dates alignright">{{job.jobDate}}</h6>
                </div>
                <p class="description">{{job.description}}</p>
            </li>
        </ul>
    </div>
</div>
<!-- Education Box -->
<div class="five columns omega offset-by-one">
    <div class="resume-history">
        <h3 class="secondary-heading">Education</h3>
        <ul class="history-list clearfix">

            <li class="item four columns offset-by-one alpha" ng-repeat="education in ctrl.educations track by $index">
                <i class="indicator"></i>
                <div class="main-info clearfix">
                    <h5 class="tertiary-heading title">{{education.schoolName}}</h5>
                    <h6 class="meta-info alighleft">{{education.department}}</h6>
                    <h6 class="dates alignright">{{education.schoolDate}}</h6>
                </div>                
                <p class="description">{{education.description}}</p>
            </li>

        </ul>
    </div>
</div>