<section class="tab">
    <div class="tab-trigger tab-header alighleft"
        ng-class="ctrl.getTabColorClass(attrTabColorClass)"
        ng-click="ctrl.clickTab(attrTabColorClass)">
        <div class="tab-icon alighleft">
            <i class="icon sprite" ng-class="ctrl.getIconClass(attrIconClass)"></i>
        </div>
        <div class="tab-text alighleft">
            <h4 class="title">{{ctrl.title}}</h4>
        </div>
        <div class="arrow alighleft"></div>
    </div>
    <i class="tab-collapse tab-trigger sprite alignright"
        ng-click="ctrl.clickTab(attrTabColorClass)"></i>
    <div class="download-resume hidden">
        <a href="#">
            <b class="text">Download Resume</b>
            <i class="icon sprite"></i>
        </a>
    </div>
</section>